In [94]:
import pandas as pd 
from splinter import Browser
from selenium import webdriver
from bs4 import BeautifulSoup as bs
import requests
import numpy as np
import pymongo

In [95]:
un_url = requests.get("https://www.un.org/en/member-states/index.html")
un_soup = bs(un_url.text, 'lxml')

In [96]:
ids = un_soup.find_all(class_="member-state col-md-12")
mem_states = un_soup.find_all(class_="member-state-name")
nat_holidays = un_soup.find_all(class_="national-holiday")

In [122]:
country_id = [id_['id'] for id_ in ids]
un_members= [mem_state.get_text(strip=True) for mem_state in mem_states]
holidays = [holiday.get_text(strip=True) for holiday in nat_holidays]

In [153]:
if len(country_id) == len(un_members) == len(holidays):
    df = pd.DataFrame({
    "country_id": country_id,
    "country": un_members,
    "nat_holidays": holidays}
    )
    #df.set_index('country_id', inplace=True)
else:
    print("please review information")

In [154]:
def transform_data(row):
    data = row.to_dict()
    collection.insert_one(data)

In [155]:
#df = df.reset_index()
df.apply(transform_data, axis=1)

0      None
1      None
2      None
3      None
4      None
5      None
6      None
7      None
8      None
9      None
10     None
11     None
12     None
13     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24     None
25     None
26     None
27     None
28     None
29     None
       ...
163    None
164    None
165    None
166    None
167    None
168    None
169    None
170    None
171    None
172    None
173    None
174    None
175    None
176    None
177    None
178    None
179    None
180    None
181    None
182    None
183    None
184    None
185    None
186    None
187    None
188    None
189    None
190    None
191    None
192    None
Length: 193, dtype: object

In [38]:
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [137]:
df = df.transpose()
data = df.to_json()

In [138]:
# Define database and collection
db = client.travel_db
collection = db.items

In [130]:
collection.insert(data)

/Users/tomasresendiz/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """Entry point for launching an IPython kernel.

ObjectId('5cb52e58ee71f694a6573b60')

In [139]:
data

'{"af":{"country":"Afghanistan","nat_holidays":"19 August (Independence Day)"},"al":{"country":"Albania","nat_holidays":"28 November (Independence Day)"},"dz":{"country":"Algeria","nat_holidays":"1 November"},"ad":{"country":"Andorra","nat_holidays":"8 September"},"ao":{"country":"Angola","nat_holidays":"11 November (Independence Day)"},"ag":{"country":"Antigua and Barbuda","nat_holidays":"1 November"},"ar":{"country":"Argentina","nat_holidays":"25 May"},"am":{"country":"Armenia","nat_holidays":"21 September"},"au":{"country":"Australia","nat_holidays":"26 January (Australia Day)"},"at":{"country":"Austria","nat_holidays":"26 October"},"az":{"country":"Azerbaijan","nat_holidays":"28 May"},"bs":{"country":"Bahamas","nat_holidays":"10 July (Independence Day)"},"bh":{"country":"Bahrain","nat_holidays":"16 December"},"bd":{"country":"Bangladesh","nat_holidays":"26 March (Independence Day)"},"bb":{"country":"Barbados","nat_holidays":"30 November"},"by":{"country":"Belarus","nat_holidays":"3 July (Independence Day)"},"be":{"country":"Belgium","nat_holidays":"21 July (National Day)"},"bz":{"country":"Belize","nat_holidays":"21 September (Independence Day)"},"bj":{"country":"Benin","nat_holidays":"1 August"},"bt":{"country":"Bhutan","nat_holidays":"17 December (National Day)"},"bo":{"country":"Bolivia (Plurinational State of)","nat_holidays":"6 August (Independence Day)"},"ba":{"country":"Bosnia and Herzegovina","nat_holidays":"N\\/A"},"bw":{"country":"Botswana","nat_holidays":"30 September"},"br":{"country":"Brazil","nat_holidays":"7 September (Independence Day)"},"bn":{"country":"Brunei Darussalam","nat_holidays":"23 February (National Day)"},"bg":{"country":"Bulgaria","nat_holidays":"3 March (Liberation Day)"},"bf":{"country":"Burkina Faso","nat_holidays":"11 December"},"bi":{"country":"Burundi","nat_holidays":"1 July (Independence Day)"},"cv":{"country":"Cabo Verde","nat_holidays":"5 July"},"kh":{"country":"Cambodia","nat_holidays":"9 November"},"cm":{"country":"Cameroon","nat_holidays":"20 May"},"ca":{"country":"Canada","nat_holidays":"1 July (Canada Day)"},"cf":{"country":"Central African Republic","nat_holidays":"1 December"},"td":{"country":"Chad","nat_holidays":"11 August"},"cl":{"country":"Chile","nat_holidays":"18 September (Independence Day)"},"cn":{"country":"China","nat_holidays":"1 October (National Day)"},"co":{"country":"Colombia","nat_holidays":"20 July (Independence Day)"},"km":{"country":"Comoros","nat_holidays":"6 July (Independence Day)"},"cg":{"country":"Congo","nat_holidays":"15 August (National Day)"},"cr":{"country":"Costa Rica","nat_holidays":"15 September (Independence Day)"},"ci":{"country":"C\\u00c3\\u00b4te D\'Ivoire","nat_holidays":"7 August"},"hr":{"country":"Croatia","nat_holidays":"25 June"},"cu":{"country":"Cuba","nat_holidays":"1 January (Anniversary of the Revolution)"},"cy":{"country":"Cyprus","nat_holidays":"1 October (Independence Day)"},"cz":{"country":"Czech Republic","nat_holidays":"28 October"},"kp":{"country":"Democratic People\'s Republic of Korea","nat_holidays":"9 September (Foundation of the Democratic People\\u00e2\\u0080\\u0099s Republic of Korea)"},"cd":{"country":"Democratic Republic of the Congo","nat_holidays":"30 June (Independence Day)"},"dk":{"country":"Denmark","nat_holidays":"16 April (Birthday of the Queen)"},"dj":{"country":"Djibouti","nat_holidays":"27 June"},"dm":{"country":"Dominica","nat_holidays":"3 November"},"do":{"country":"Dominican Republic","nat_holidays":"27 February (Independence Day)"},"ec":{"country":"Ecuador","nat_holidays":"10 August (Independence Day)"},"eg":{"country":"Egypt","nat_holidays":"23 July (National Day)"},"sv":{"country":"El Salvador","nat_holidays":"15 September (Independence Day)"},"gq":{"country":"Equatorial Guinea","nat_holidays":"12 October (Independence Day)"},"er":{"country":"Eritrea","nat_holidays":"24 May (Independence Day)"},"ee":{"country":"Estonia","nat_holidays":"24 February (Independence Day)"},"sz":{"country":"Eswatini","nat_holidays":"6 September (Independence Day)"},"et":{"country":"Ethiopia","nat_holidays":"28 May"},"fj":{"country":"Fiji","nat_holidays":"10 October"},"fi":{"country":"Finland","nat_holidays":"6 December (Independence Day)"},"fr":{"country":"France","nat_holidays":"14 July (National Day)"},"ga":{"country":"Gabon","nat_holidays":"17 August"},"gm":{"country":"Gambia (Republic of The)","nat_holidays":"18 February"},"ge":{"country":"Georgia","nat_holidays":"26 May (Independence Day)"},"de":{"country":"Germany","nat_holidays":"3 October"},"gh":{"country":"Ghana","nat_holidays":"6 March (Independence Day)"},"gr":{"country":"Greece","nat_holidays":"25 March (Independence Day)"},"gd":{"country":"Grenada","nat_holidays":"7 February (Independence Day)"},"gt":{"country":"Guatemala","nat_holidays":"15 September (Independence Day)"},"gn":{"country":"Guinea","nat_holidays":"2 October (Independence Day)"},"gw":{"country":"Guinea Bissau","nat_holidays":"24 September"},"gy":{"country":"Guyana","nat_holidays":"23 February"},"ht":{"country":"Haiti","nat_holidays":"1 January (Independence Day)"},"hn":{"country":"Honduras","nat_holidays":"15 September (Independence Day)"},"hu":{"country":"Hungary","nat_holidays":"20 August"},"is":{"country":"Iceland","nat_holidays":"17 June (Anniversary of the establishment of the Republic)"},"in":{"country":"India","nat_holidays":"26 January (Anniversary of the proclamation of the Republic)"},"id":{"country":"Indonesia","nat_holidays":"17 August (Independence Day)"},"ir":{"country":"Iran (Islamic Republic of)","nat_holidays":"11 February"},"iq":{"country":"Iraq","nat_holidays":"N\\/A"},"ie":{"country":"Ireland","nat_holidays":"17 March (St. Patrick\\u00e2\\u0080\\u0099s Day)"},"il":{"country":"Israel","nat_holidays":"3 May (Independence Day)"},"it":{"country":"Italy","nat_holidays":"2 June (Anniversary of the Republic)"},"jm":{"country":"Jamaica","nat_holidays":"6 August (Independence Day)"},"jp":{"country":"Japan","nat_holidays":"23 December (Birthday of the Emperor)"},"jo":{"country":"Jordan","nat_holidays":"25 May (Independence Day)"},"kz":{"country":"Kazakhstan","nat_holidays":"16 December (Independence Day)"},"ke":{"country":"Kenya","nat_holidays":"12 December"},"ki":{"country":"Kiribati","nat_holidays":"12 July (Independence Day)"},"kw":{"country":"Kuwait","nat_holidays":"25 February"},"kg":{"country":"Kyrgyzstan","nat_holidays":"31 August (Independence Day)"},"la":{"country":"Lao People\\u00e2\\u0080\\u0099s Democratic Republic","nat_holidays":"2 December"},"lv":{"country":"Latvia","nat_holidays":"18 November (Independence Day)"},"lb":{"country":"Lebanon","nat_holidays":"22 November (Independence Day)"},"ls":{"country":"Lesotho","nat_holidays":"4 October"},"lr":{"country":"Liberia","nat_holidays":"26 July (Independence Day)"},"ly":{"country":"Libya","nat_holidays":"24 December (Independence Day)"},"li":{"country":"Liechtenstein","nat_holidays":"15 August"},"lt":{"country":"Lithuania","nat_holidays":"16 February (Independence Day)"},"lu":{"country":"Luxembourg","nat_holidays":"23 June"},"mg":{"country":"Madagascar","nat_holidays":"26 June (Independence Day)"},"mw":{"country":"Malawi","nat_holidays":"6 July (Republic Day)"},"my":{"country":"Malaysia","nat_holidays":"31 August"},"mv":{"country":"Maldives","nat_holidays":"26 July (Independence Day)"},"ml":{"country":"Mali","nat_holidays":"22 September (Independence Day)"},"mt":{"country":"Malta","nat_holidays":"21 September (Independence Day)"},"mh":{"country":"Marshall Islands","nat_holidays":"1 May (Constitution Day)"},"mr":{"country":"Mauritania","nat_holidays":"28 November (Independence Day)"},"mu":{"country":"Mauritius","nat_holidays":"12 March (Independence Day)"},"mx":{"country":"Mexico","nat_holidays":"16 September (Independence Day)"},"fm":{"country":"Micronesia (Federated States of)","nat_holidays":"3 November (Independence Day)"},"mc":{"country":"Monaco","nat_holidays":"19 November"},"mn":{"country":"Mongolia","nat_holidays":"11 July"},"me":{"country":"Montenegro","nat_holidays":"N\\/A"},"ma":{"country":"Morocco","nat_holidays":"30 July (National Day)"},"mz":{"country":"Mozambique","nat_holidays":"25 June (Independence Day)"},"mm":{"country":"Myanmar","nat_holidays":"4 January (Independence Day)"},"na":{"country":"Namibia","nat_holidays":"21 March (Independence Day)"},"nr":{"country":"Nauru","nat_holidays":"31 January (Independence Day)"},"np":{"country":"Nepal","nat_holidays":"7 July (Birthday of His Majesty the King)"},"nl":{"country":"Netherlands","nat_holidays":"27 April (King\\u00e2\\u0080\\u0099s Day)"},"nz":{"country":"New Zealand","nat_holidays":"6 February (Waitangi Day)"},"ni":{"country":"Nicaragua","nat_holidays":"15 September (Independence Day)"},"ne":{"country":"Niger","nat_holidays":"18 December (Proclamation of the Republic)"},"ng":{"country":"Nigeria","nat_holidays":"1 October (Independence Day)"},"mk":{"country":"North Macedonia","nat_holidays":"2 August"},"no":{"country":"Norway","nat_holidays":"17 May (Constitution Day)"},"om":{"country":"Oman","nat_holidays":"18 November"},"pk":{"country":"Pakistan","nat_holidays":"23 March (Pakistan Day)"},"pw":{"country":"Palau","nat_holidays":"9 July (Constitution Day)"},"pa":{"country":"Panama","nat_holidays":"3 November (Independence Day)"},"pg":{"country":"Papua New Guinea","nat_holidays":"16 September (Independence Day)"},"py":{"country":"Paraguay","nat_holidays":"15 May (Independence Day)"},"pe":{"country":"Peru","nat_holidays":"28 July (Independence Day)"},"ph":{"country":"Philippines","nat_holidays":"12 June (Independence Day)"},"pl":{"country":"Poland","nat_holidays":"3 May (Constitution Day)"},"pt":{"country":"Portugal","nat_holidays":"10 June"},"qa":{"country":"Qatar","nat_holidays":"3 September"},"kr":{"country":"Republic of Korea","nat_holidays":"15 August"},"md":{"country":"Republic of Moldova","nat_holidays":"27 August"},"ro":{"country":"Romania","nat_holidays":"1 December"},"ru":{"country":"Russian Federation","nat_holidays":"12 June"},"rw":{"country":"Rwanda","nat_holidays":"1 July (Independence Day)"},"kn":{"country":"Saint Kitts and Nevis","nat_holidays":"19 September (Independence Day)"},"lc":{"country":"Saint Lucia","nat_holidays":"22 February (Independence Day)"},"vc":{"country":"Saint Vincent and the Grenadines","nat_holidays":"27 October (Independence Day)"},"ws":{"country":"Samoa","nat_holidays":"1 June (Independence Celebration Day)"},"sm":{"country":"San Marino","nat_holidays":"3 September"},"st":{"country":"Sao Tome and Principe","nat_holidays":"12 July (Independence Day)"},"sa":{"country":"Saudi Arabia","nat_holidays":"23 September"},"sn":{"country":"Senegal","nat_holidays":"4 April (Independence Day)"},"rs":{"country":"Serbia","nat_holidays":"15 February (Day of Statehood)"},"sc":{"country":"Seychelles","nat_holidays":"18 June (Constitution Day)"},"sl":{"country":"Sierra Leone","nat_holidays":"27 April (Independence Day)"},"sg":{"country":"Singapore","nat_holidays":"9 August"},"sk":{"country":"Slovakia","nat_holidays":"1 September (Constitution Day)"},"si":{"country":"Slovenia","nat_holidays":"25 June"},"sb":{"country":"Solomon Islands","nat_holidays":"7 July"},"so":{"country":"Somalia","nat_holidays":"1 July"},"za":{"country":"South Africa","nat_holidays":"27 April (Freedom Day)"},"ss":{"country":"South Sudan","nat_holidays":"9 July"},"es":{"country":"Spain","nat_holidays":"12 October"},"lk":{"country":"Sri Lanka","nat_holidays":"4 February"},"sd":{"country":"Sudan","nat_holidays":"1 January (Independence Day)"},"sr":{"country":"Suriname","nat_holidays":"25 November (Independence Day)"},"se":{"country":"Sweden","nat_holidays":"6 June"},"ch":{"country":"Switzerland","nat_holidays":"1 August"},"sy":{"country":"Syrian Arab Republic","nat_holidays":"17 April (Independence Day)"},"tj":{"country":"Tajikistan","nat_holidays":"9 September (Independence Day)"},"th":{"country":"Thailand","nat_holidays":"5 December (National Day)"},"tl":{"country":"Timor-Leste","nat_holidays":"20 May"},"tg":{"country":"Togo","nat_holidays":"27 April (National Day)"},"to":{"country":"Tonga","nat_holidays":"4 June (Emancipation Day)"},"tt":{"country":"Trinidad and Tobago","nat_holidays":"31 August"},"tn":{"country":"Tunisia","nat_holidays":"20 March (Independence Day)"},"tr":{"country":"Turkey","nat_holidays":"29 October (Republic Day)"},"tm":{"country":"Turkmenistan","nat_holidays":"27 October (Independence Day)"},"tv":{"country":"Tuvalu","nat_holidays":"1 October (Independence Day)"},"ug":{"country":"Uganda","nat_holidays":"9 October (Independence Day)"},"ua":{"country":"Ukraine","nat_holidays":"24 August (Independence Day)"},"ae":{"country":"United Arab Emirates","nat_holidays":"2 December"},"gb":{"country":"United Kingdom of Great Britain and Northern Ireland","nat_holidays":"11 June (Celebration of the birthday of Her Majesty the Queen)"},"tz":{"country":"United Republic of Tanzania","nat_holidays":"26 April (Union Day)"},"us":{"country":"United States of America","nat_holidays":"4 July (Independence Day)"},"uy":{"country":"Uruguay","nat_holidays":"25 August (Independence Day)"},"uz":{"country":"Uzbekistan","nat_holidays":"1 September (Independence Day)"},"vu":{"country":"Vanuatu","nat_holidays":"30 July (Independence Day)"},"ve":{"country":"Venezuela, Bolivarian Republic of","nat_holidays":"5 July (Independence Day)"},"vn":{"country":"Viet Nam","nat_holidays":"2 September (Independence Day)"},"ye":{"country":"Yemen","nat_holidays":"22 May"},"zm":{"country":"Zambia","nat_holidays":"24 October"},"zw":{"country":"Zimbabwe","nat_holidays":"18 April"}}'

In [90]:
ids = un_soup.find_all(class_="member-state col-md-12")
ids[0]['id']

'af'

In [92]:
mem_states = un_soup.find_all(class_="member-state-name")

for name in mem_states:
    try:
        country = name.get_text(strip=True)
        #un_website = name.a['href']
        post = {
            'country': mem_name
            #'un_website': un_website
        }
        
        collection.insert_one(post)
        #print(post)
    except Exception as e:
        print(e)

In [11]:
a = df.to_html(index=True)
a.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>country</th>      <th>nat_holidays</th>    </tr>    <tr>      <th>country_id</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>af</th>      <td>Afghanistan</td>      <td>19 August (Independence Day)</td>    </tr>    <tr>      <th>al</th>      <td>Albania</td>      <td>28 November (Independence Day)</td>    </tr>    <tr>      <th>dz</th>      <td>Algeria</td>      <td>1 November</td>    </tr>    <tr>      <th>ad</th>      <td>Andorra</td>      <td>8 September</td>    </tr>    <tr>      <th>ao</th>      <td>Angola</td>      <td>11 November (Independence Day)</td>    </tr>    <tr>      <th>ag</th>      <td>Antigua and Barbuda</td>      <td>1 November</td>    </tr>    <tr>      <th>ar</th>      <td>Argentina</td>      <td>25 May</td>    </tr>    <tr>      <th>am</th>      <td>Armenia</td>      <td>21 September</td>    </tr>    <tr>      <th>au</th>      <td>Australia</td>      <td>26 January (Australia Day)</td>    </tr>    <tr>      <th>at</th>      <td>Austria</td>      <td>26 October</td>    </tr>    <tr>      <th>az</th>      <td>Azerbaijan</td>      <td>28 May</td>    </tr>    <tr>      <th>bs</th>      <td>Bahamas</td>      <td>10 July (Independence Day)</td>    </tr>    <tr>      <th>bh</th>      <td>Bahrain</td>      <td>16 December</td>    </tr>    <tr>      <th>bd</th>      <td>Bangladesh</td>      <td>26 March (Independence Day)</td>    </tr>    <tr>      <th>bb</th>      <td>Barbados</td>      <td>30 November</td>    </tr>    <tr>      <th>by</th>      <td>Belarus</td>      <td>3 July (Independence Day)</td>    </tr>    <tr>      <th>be</th>      <td>Belgium</td>      <td>21 July (National Day)</td>    </tr>    <tr>      <th>bz</th>      <td>Belize</td>      <td>21 September (Independence Day)</td>    </tr>    <tr>      <th>bj</th>      <td>Benin</td>      <td>1 August</td>    </tr>    <tr>      <th>bt</th>      <td>Bhutan</td>      <td>17 December (National Day)</td>    </tr>    <tr>      <th>bo</th>      <td>Bolivia (Plurinational State of)</td>      <td>6 August (Independence Day)</td>    </tr>    <tr>      <th>ba</th>      <td>Bosnia and Herzegovina</td>      <td>N/A</td>    </tr>    <tr>      <th>bw</th>      <td>Botswana</td>      <td>30 September</td>    </tr>    <tr>      <th>br</th>      <td>Brazil</td>      <td>7 September (Independence Day)</td>    </tr>    <tr>      <th>bn</th>      <td>Brunei Darussalam</td>      <td>23 February (National Day)</td>    </tr>    <tr>      <th>bg</th>      <td>Bulgaria</td>      <td>3 March (Liberation Day)</td>    </tr>    <tr>      <th>bf</th>      <td>Burkina Faso</td>      <td>11 December</td>    </tr>    <tr>      <th>bi</th>      <td>Burundi</td>      <td>1 July (Independence Day)</td>    </tr>    <tr>      <th>cv</th>      <td>Cabo Verde</td>      <td>5 July</td>    </tr>    <tr>      <th>kh</th>      <td>Cambodia</td>      <td>9 November</td>    </tr>    <tr>      <th>cm</th>      <td>Cameroon</td>      <td>20 May</td>    </tr>    <tr>      <th>ca</th>      <td>Canada</td>      <td>1 July (Canada Day)</td>    </tr>    <tr>      <th>cf</th>      <td>Central African Republic</td>      <td>1 December</td>    </tr>    <tr>      <th>td</th>      <td>Chad</td>      <td>11 August</td>    </tr>    <tr>      <th>cl</th>      <td>Chile</td>      <td>18 September (Independence Day)</td>    </tr>    <tr>      <th>cn</th>      <td>China</td>      <td>1 October (National Day)</td>    </tr>    <tr>      <th>co</th>      <td>Colombia</td>      <td>20 July (Independence Day)</td>    </tr>    <tr>      <th>km</th>      <td>Comoros</td>      <td>6 July (Independence Day)</td>    </tr>    <tr>      <th>cg</th>      <td>Congo</td>      <td>15 August (National Day)</td>    </tr>    <tr>      <th>cr</th>      <td>Costa Rica</td>      <td>15 September (Independence Day)</td>    </tr>    <tr>      <th>ci</th>      <td>CÃ´te D\'Ivoire</td>      <td>7 August</td>    </tr>    <tr>      <th>hr</th>      <td>Croatia</td>      <td>25 June</td>    </tr>    <tr>      <th>cu</th>      <td>Cuba</td>      <td>1 January (Anniversary of the Revolution)</td>    </tr>    <tr>      <th>cy</th>      <td>Cyprus</td>      <td>1 October (Independence Day)</td>    </tr>    <tr>      <th>cz</th>      <td>Czech Republic</td>      <td>28 October</td>    </tr>    <tr>      <th>kp</th>      <td>Democratic People\'s Republic of Korea</td>      <td>9 September (Foundation of the Democratic Peop...</td>    </tr>    <tr>      <th>cd</th>      <td>Democratic Republic of the Congo</td>      <td>30 June (Independence Day)</td>    </tr>    <tr>      <th>dk</th>      <td>Denmark</td>      <td>16 April (Birthday of the Queen)</td>    </tr>    <tr>      <th>dj</th>      <td>Djibouti</td>      <td>27 June</td>    </tr>    <tr>      <th>dm</th>      <td>Dominica</td>      <td>3 November</td>    </tr>    <tr>      <th>do</th>      <td>Dominican Republic</td>      <td>27 February (Independence Day)</td>    </tr>    <tr>      <th>ec</th>      <td>Ecuador</td>      <td>10 August (Independence Day)</td>    </tr>    <tr>      <th>eg</th>      <td>Egypt</td>      <td>23 July (National Day)</td>    </tr>    <tr>      <th>sv</th>      <td>El Salvador</td>      <td>15 September (Independence Day)</td>    </tr>    <tr>      <th>gq</th>      <td>Equatorial Guinea</td>      <td>12 October (Independence Day)</td>    </tr>    <tr>      <th>er</th>      <td>Eritrea</td>      <td>24 May (Independence Day)</td>    </tr>    <tr>      <th>ee</th>      <td>Estonia</td>      <td>24 February (Independence Day)</td>    </tr>    <tr>      <th>sz</th>      <td>Eswatini</td>      <td>6 September (Independence Day)</td>    </tr>    <tr>      <th>et</th>      <td>Ethiopia</td>      <td>28 May</td>    </tr>    <tr>      <th>fj</th>      <td>Fiji</td>      <td>10 October</td>    </tr>    <tr>      <th>fi</th>      <td>Finland</td>      <td>6 December (Independence Day)</td>    </tr>    <tr>      <th>fr</th>      <td>France</td>      <td>14 July (National Day)</td>    </tr>    <tr>      <th>ga</th>      <td>Gabon</td>      <td>17 August</td>    </tr>    <tr>      <th>gm</th>      <td>Gambia (Republic of The)</td>      <td>18 February</td>    </tr>    <tr>      <th>ge</th>      <td>Georgia</td>      <td>26 May (Independence Day)</td>    </tr>    <tr>      <th>de</th>      <td>Germany</td>      <td>3 October</td>    </tr>    <tr>      <th>gh</th>      <td>Ghana</td>      <td>6 March (Independence Day)</td>    </tr>    <tr>      <th>gr</th>      <td>Greece</td>      <td>25 March (Independence Day)</td>    </tr>    <tr>      <th>gd</th>      <td>Grenada</td>      <td>7 February (Independence Day)</td>    </tr>    <tr>      <th>gt</th>      <td>Guatemala</td>      <td>15 September (Independence Day)</td>    </tr>    <tr>      <th>gn</th>      <td>Guinea</td>      <td>2 October (Independence Day)</td>    </tr>    <tr>      <th>gw</th>      <td>Guinea Bissau</td>      <td>24 September</td>    </tr>    <tr>      <th>gy</th>      <td>Guyana</td>      <td>23 February</td>    </tr>    <tr>      <th>ht</th>      <td>Haiti</td>      <td>1 January (Independence Day)</td>    </tr>    <tr>      <th>hn</th>      <td>Honduras</td>      <td>15 September (Independence Day)</td>    </tr>    <tr>      <th>hu</th>      <td>Hungary</td>      <td>20 August</td>    </tr>    <tr>      <th>is</th>      <td>Iceland</td>      <td>17 June (Anniversary of the establishment of t...</td>    </tr>    <tr>      <th>in</th>      <td>India</td>      <td>26 January (Anniversary of the proclamation of...</td>    </tr>    <tr>      <th>id</th>      <td>Indonesia</td>      <td>17 August (Independence Day)</td>    </tr>    <tr>      <th>ir</th>      <td>Iran (Islamic Republic of)</td>      <td>11 February</td>    </tr>    <tr>      <th>iq</th>      <td>Iraq</td>      <td>N/A</td>    </tr>    <tr>      <th>ie</th>      <td>Ireland</td>      <td>17 March (St. Patrickâ\x80\x99s Day)</td>    </tr>    <tr>      <th>il</th>      <td>Israel</td>      <td>3 May (Independence Day)</td>    </tr>    <tr>      <th>it</th>      <td>Italy</td>      <td>2 June (Anniversary of the Republic)</td>    </tr>    <tr>      <th>jm</th>      <td>Jamaica</td>      <td>6 August (Independence Day)</td>    </tr>    <tr>      <th>jp</th>      <td>Japan</td>      <td>23 December (Birthday of the Emperor)</td>    </tr>    <tr>      <th>jo</th>      <td>Jordan</td>      <td>25 May (Independence Day)</td>    </tr>    <tr>      <th>kz</th>      <td>Kazakhstan</td>      <td>16 December (Independence Day)</td>    </tr>    <tr>      <th>ke</th>      <td>Kenya</td>      <td>12 December</td>    </tr>    <tr>      <th>ki</th>      <td>Kiribati</td>      <td>12 July (Independence Day)</td>    </tr>    <tr>      <th>kw</th>      <td>Kuwait</td>      <td>25 February</td>    </tr>    <tr>      <th>kg</th>      <td>Kyrgyzstan</td>      <td>31 August (Independence Day)</td>    </tr>    <tr>      <th>la</th>      <td>Lao Peopleâ\x80\x99s Democratic Republic</td>      <td>2 December</td>    </tr>    <tr>      <th>lv</th>      <td>Latvia</td>      <td>18 November (Independence Day)</td>    </tr>    <tr>      <th>lb</th>      <td>Lebanon</td>      <td>22 November (Independence Day)</td>    </tr>    <tr>      <th>ls</th>      <td>Lesotho</td>      <td>4 October</td>    </tr>    <tr>      <th>lr</th>      <td>Liberia</td>      <td>26 July (Independence Day)</td>    </tr>    <tr>      <th>ly</th>      <td>Libya</td>      <td>24 December (Independence Day)</td>    </tr>    <tr>      <th>li</th>      <td>Liechtenstein</td>      <td>15 August</td>    </tr>    <tr>      <th>lt</th>      <td>Lithuania</td>      <td>16 February (Independence Day)</td>    </tr>    <tr>      <th>lu</th>      <td>Luxembourg</td>      <td>23 June</td>    </tr>    <tr>      <th>mg</th>      <td>Madagascar</td>      <td>26 June (Independence Day)</td>    </tr>    <tr>      <th>mw</th>      <td>Malawi</td>      <td>6 July (Republic Day)</td>    </tr>    <tr>      <th>my</th>      <td>Malaysia</td>      <td>31 August</td>    </tr>    <tr>      <th>mv</th>      <td>Maldives</td>      <td>26 July (Independence Day)</td>    </tr>    <tr>      <th>ml</th>      <td>Mali</td>      <td>22 September (Independence Day)</td>    </tr>    <tr>      <th>mt</th>      <td>Malta</td>      <td>21 September (Independence Day)</td>    </tr>    <tr>      <th>mh</th>      <td>Marshall Islands</td>      <td>1 May (Constitution Day)</td>    </tr>    <tr>      <th>mr</th>      <td>Mauritania</td>      <td>28 November (Independence Day)</td>    </tr>    <tr>      <th>mu</th>      <td>Mauritius</td>      <td>12 March (Independence Day)</td>    </tr>    <tr>      <th>mx</th>      <td>Mexico</td>      <td>16 September (Independence Day)</td>    </tr>    <tr>      <th>fm</th>      <td>Micronesia (Federated States of)</td>      <td>3 November (Independence Day)</td>    </tr>    <tr>      <th>mc</th>      <td>Monaco</td>      <td>19 November</td>    </tr>    <tr>      <th>mn</th>      <td>Mongolia</td>      <td>11 July</td>    </tr>    <tr>      <th>me</th>      <td>Montenegro</td>      <td>N/A</td>    </tr>    <tr>      <th>ma</th>      <td>Morocco</td>      <td>30 July (National Day)</td>    </tr>    <tr>      <th>mz</th>      <td>Mozambique</td>      <td>25 June (Independence Day)</td>    </tr>    <tr>      <th>mm</th>      <td>Myanmar</td>      <td>4 January (Independence Day)</td>    </tr>    <tr>      <th>na</th>      <td>Namibia</td>      <td>21 March (Independence Day)</td>    </tr>    <tr>      <th>nr</th>      <td>Nauru</td>      <td>31 January (Independence Day)</td>    </tr>    <tr>      <th>np</th>      <td>Nepal</td>      <td>7 July (Birthday of His Majesty the King)</td>    </tr>    <tr>      <th>nl</th>      <td>Netherlands</td>      <td>27 April (Kingâ\x80\x99s Day)</td>    </tr>    <tr>      <th>nz</th>      <td>New Zealand</td>      <td>6 February (Waitangi Day)</td>    </tr>    <tr>      <th>ni</th>      <td>Nicaragua</td>      <td>15 September (Independence Day)</td>    </tr>    <tr>      <th>ne</th>      <td>Niger</td>      <td>18 December (Proclamation of the Republic)</td>    </tr>    <tr>      <th>ng</th>      <td>Nigeria</td>      <td>1 October (Independence Day)</td>    </tr>    <tr>      <th>mk</th>      <td>North Macedonia</td>      <td>2 August</td>    </tr>    <tr>      <th>no</th>      <td>Norway</td>      <td>17 May (Constitution Day)</td>    </tr>    <tr>      <th>om</th>      <td>Oman</td>      <td>18 November</td>    </tr>    <tr>      <th>pk</th>      <td>Pakistan</td>      <td>23 March (Pakistan Day)</td>    </tr>    <tr>      <th>pw</th>      <td>Palau</td>      <td>9 July (Constitution Day)</td>    </tr>    <tr>      <th>pa</th>      <td>Panama</td>      <td>3 November (Independence Day)</td>    </tr>    <tr>      <th>pg</th>      <td>Papua New Guinea</td>      <td>16 September (Independence Day)</td>    </tr>    <tr>      <th>py</th>      <td>Paraguay</td>      <td>15 May (Independence Day)</td>    </tr>    <tr>      <th>pe</th>      <td>Peru</td>      <td>28 July (Independence Day)</td>    </tr>    <tr>      <th>ph</th>      <td>Philippines</td>      <td>12 June (Independence Day)</td>    </tr>    <tr>      <th>pl</th>      <td>Poland</td>      <td>3 May (Constitution Day)</td>    </tr>    <tr>      <th>pt</th>      <td>Portugal</td>      <td>10 June</td>    </tr>    <tr>      <th>qa</th>      <td>Qatar</td>      <td>3 September</td>    </tr>    <tr>      <th>kr</th>      <td>Republic of Korea</td>      <td>15 August</td>    </tr>    <tr>      <th>md</th>      <td>Republic of Moldova</td>      <td>27 August</td>    </tr>    <tr>      <th>ro</th>      <td>Romania</td>      <td>1 December</td>    </tr>    <tr>      <th>ru</th>      <td>Russian Federation</td>      <td>12 June</td>    </tr>    <tr>      <th>rw</th>      <td>Rwanda</td>      <td>1 July (Independence Day)</td>    </tr>    <tr>      <th>kn</th>      <td>Saint Kitts and Nevis</td>      <td>19 September (Independence Day)</td>    </tr>    <tr>      <th>lc</th>      <td>Saint Lucia</td>      <td>22 February (Independence Day)</td>    </tr>    <tr>      <th>vc</th>      <td>Saint Vincent and the Grenadines</td>      <td>27 October (Independence Day)</td>    </tr>    <tr>      <th>ws</th>      <td>Samoa</td>      <td>1 June (Independence Celebration Day)</td>    </tr>    <tr>      <th>sm</th>      <td>San Marino</td>      <td>3 September</td>    </tr>    <tr>      <th>st</th>      <td>Sao Tome and Principe</td>      <td>12 July (Independence Day)</td>    </tr>    <tr>      <th>sa</th>      <td>Saudi Arabia</td>      <td>23 September</td>    </tr>    <tr>      <th>sn</th>      <td>Senegal</td>      <td>4 April (Independence Day)</td>    </tr>    <tr>      <th>rs</th>      <td>Serbia</td>      <td>15 February (Day of Statehood)</td>    </tr>    <tr>      <th>sc</th>      <td>Seychelles</td>      <td>18 June (Constitution Day)</td>    </tr>    <tr>      <th>sl</th>      <td>Sierra Leone</td>      <td>27 April (Independence Day)</td>    </tr>    <tr>      <th>sg</th>      <td>Singapore</td>      <td>9 August</td>    </tr>    <tr>      <th>sk</th>      <td>Slovakia</td>      <td>1 September (Constitution Day)</td>    </tr>    <tr>      <th>si</th>      <td>Slovenia</td>      <td>25 June</td>    </tr>    <tr>      <th>sb</th>      <td>Solomon Islands</td>      <td>7 July</td>    </tr>    <tr>      <th>so</th>      <td>Somalia</td>      <td>1 July</td>    </tr>    <tr>      <th>za</th>      <td>South Africa</td>      <td>27 April (Freedom Day)</td>    </tr>    <tr>      <th>ss</th>      <td>South Sudan</td>      <td>9 July</td>    </tr>    <tr>      <th>es</th>      <td>Spain</td>      <td>12 October</td>    </tr>    <tr>      <th>lk</th>      <td>Sri Lanka</td>      <td>4 February</td>    </tr>    <tr>      <th>sd</th>      <td>Sudan</td>      <td>1 January (Independence Day)</td>    </tr>    <tr>      <th>sr</th>      <td>Suriname</td>      <td>25 November (Independence Day)</td>    </tr>    <tr>      <th>se</th>      <td>Sweden</td>      <td>6 June</td>    </tr>    <tr>      <th>ch</th>      <td>Switzerland</td>      <td>1 August</td>    </tr>    <tr>      <th>sy</th>      <td>Syrian Arab Republic</td>      <td>17 April (Independence Day)</td>    </tr>    <tr>      <th>tj</th>      <td>Tajikistan</td>      <td>9 September (Independence Day)</td>    </tr>    <tr>      <th>th</th>      <td>Thailand</td>      <td>5 December (National Day)</td>    </tr>    <tr>      <th>tl</th>      <td>Timor-Leste</td>      <td>20 May</td>    </tr>    <tr>      <th>tg</th>      <td>Togo</td>      <td>27 April (National Day)</td>    </tr>    <tr>      <th>to</th>      <td>Tonga</td>      <td>4 June (Emancipation Day)</td>    </tr>    <tr>      <th>tt</th>      <td>Trinidad and Tobago</td>      <td>31 August</td>    </tr>    <tr>      <th>tn</th>      <td>Tunisia</td>      <td>20 March (Independence Day)</td>    </tr>    <tr>      <th>tr</th>      <td>Turkey</td>      <td>29 October (Republic Day)</td>    </tr>    <tr>      <th>tm</th>      <td>Turkmenistan</td>      <td>27 October (Independence Day)</td>    </tr>    <tr>      <th>tv</th>      <td>Tuvalu</td>      <td>1 October (Independence Day)</td>    </tr>    <tr>      <th>ug</th>      <td>Uganda</td>      <td>9 October (Independence Day)</td>    </tr>    <tr>      <th>ua</th>      <td>Ukraine</td>      <td>24 August (Independence Day)</td>    </tr>    <tr>      <th>ae</th>      <td>United Arab Emirates</td>      <td>2 December</td>    </tr>    <tr>      <th>gb</th>      <td>United Kingdom of Great Britain and Northern I...</td>      <td>11 June (Celebration of the birthday of Her Ma...</td>    </tr>    <tr>      <th>tz</th>      <td>United Republic of Tanzania</td>      <td>26 April (Union Day)</td>    </tr>    <tr>      <th>us</th>      <td>United States of America</td>      <td>4 July (Independence Day)</td>    </tr>    <tr>      <th>uy</th>      <td>Uruguay</td>      <td>25 August (Independence Day)</td>    </tr>    <tr>      <th>uz</th>      <td>Uzbekistan</td>      <td>1 September (Independence Day)</td>    </tr>    <tr>      <th>vu</th>      <td>Vanuatu</td>      <td>30 July (Independence Day)</td>    </tr>    <tr>      <th>ve</th>      <td>Venezuela, Bolivarian Republic of</td>      <td>5 July (Independence Day)</td>    </tr>    <tr>      <th>vn</th>      <td>Viet Nam</td>      <td>2 September (Independence Day)</td>    </tr>    <tr>      <th>ye</th>      <td>Yemen</td>      <td>22 May</td>    </tr>    <tr>      <th>zm</th>      <td>Zambia</td>      <td>24 October</td>    </tr>    <tr>      <th>zw</th>      <td>Zimbabwe</td>      <td>18 April</td>    </tr>  </tbody></table>'

In [51]:
lp_url = requests.get("https://www.lonelyplanet.com/best-in-travel/countries")
#lp_url = "https://www.lonelyplanet.com/best-in-travel/countries"

In [52]:
print(lp_url)

<Response [403]>

In [322]:
lp_soup = bs(lp_url.text, 'lxml')

In [323]:
#soup = bs(browser.html, "lxml")
results = soup.find_all("h1")

In [324]:
top_countries = [result.get_text(strip=True).split('.') for result in results]
df = pd.DataFrame(top_countries)
df.columns=['rank', 'country']
df = df.iloc[1:,:]

In [325]:
df['city'] = np.nan
df['source'] = "lonelyplanet"
df.set_index('country', inplace=True)

In [326]:
df

                    rank  city        source
country
Sri Lanka              1   NaN  lonelyplanet
Germany                2   NaN  lonelyplanet
Zimbabwe               3   NaN  lonelyplanet
Panama                 4   NaN  lonelyplanet
Kyrgyzstan             5   NaN  lonelyplanet
Jordan                 6   NaN  lonelyplanet
Indonesia              7   NaN  lonelyplanet
Belarus                8   NaN  lonelyplanet
São Tomé & Príncipe    9   NaN  lonelyplanet
Belize                10   NaN  lonelyplanet

In [315]:
#Browser setup
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome")
browser.visit(lp_url)

                    rank  city        source
country
Sri Lanka              1   NaN  lonelyplanet
Germany                2   NaN  lonelyplanet
Zimbabwe               3   NaN  lonelyplanet
Panama                 4   NaN  lonelyplanet
Kyrgyzstan             5   NaN  lonelyplanet
Jordan                 6   NaN  lonelyplanet
Indonesia              7   NaN  lonelyplanet
Belarus                8   NaN  lonelyplanet
São Tomé & Príncipe    9   NaN  lonelyplanet
Belize                10   NaN  lonelyplanet

In [28]:
df.set_index('Rank', inplace=True)

In [29]:
df

                  Country
Rank
1               Sri Lanka
2                 Germany
3                Zimbabwe
4                  Panama
5              Kyrgyzstan
6                  Jordan
7               Indonesia
8                 Belarus
9     São Tomé & Príncipe
10                 Belize

In [40]:
ta_url = "https://www.tripadvisor.com/TravelersChoice-Destinations"

In [42]:
browser.visit(ta_url)

In [43]:
#Create BeautifulSoup object and parse
soup = bs(browser.html, 'html.parser')

In [44]:
countries = soup.find_all(class_="winnerName")

In [35]:
for x in countries:
    print(x.a['href'])

In [55]:
country = [x.get_text(strip=True).split(',') for x in countries]

In [52]:
country

[['London', ' United Kingdom'],
 ['Paris', ' France'],
 ['Rome', ' Italy'],
 ['Crete', ' Greece'],
 ['Bali', ' Indonesia'],
 ['Phuket', ' Thailand'],
 ['Barcelona', ' Spain'],
 ['Istanbul', ' Turkey'],
 ['Marrakech', ' Morocco'],
 ['Dubai', ' United Arab Emirates'],
 ['Prague', ' Czech Republic'],
 ['Siem Reap', ' Cambodia'],
 ['New York City', ' New York'],
 ['Jamaica'],
 ['Hanoi', ' Vietnam'],
 ['Tokyo', ' Japan'],
 ['Playa del Carmen', ' Mexico'],
 ['Lisbon', ' Portugal'],
 ['Kathmandu', ' Nepal'],
 ['Jaipur', ' India'],
 ['Hurghada', ' Egypt'],
 ['Hong Kong', ' China'],
 ['Cusco', ' Peru'],
 ['Sydney', ' Australia'],
 ['Tel Aviv', ' Israel']]

In [62]:
trvch_url = "https://www.travelchannel.com/destinations"

In [63]:
browser.visit(trvch_url)

In [64]:
#Create BeautifulSoup object and parse
soup = bs(browser.html, 'html.parser')

In [68]:
data = soup.find_all(class_="m-PromoList__a-ListItem")

In [69]:
for x in data:
    print(x.get_text())

Alaska
Albuquerque
Asheville
Atlantic City
Austin
Boston
California
Chicago
Denver
Destin
Detroit
Florida
Gatlinburg–Pigeon Forge
Hawaii
Key West
Las Vegas
Myrtle Beach
Nashville
New Orleans
Palm Springs
Philadelphia
Pittsburgh
San Antonio
Seattle
Amsterdam
Argentina
Aruba
Australia
Austria
Barbados
Belize
Caribbean
Costa Rica
Cuba
Croatia
Czech Republic
Dominican Republic
Dubai
France
Greece
Italy
Ireland
Japan
New Zealand
Puerto Rico
Singapore
South Africa
Vancouver
Facebook
Twitter
Instagram
YouTube
Pinterest